@import "tailwindcss";

:root {
  --text: #050316;
  --background: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dddbff;
  --accent: #443dff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ebe9fc;
    --background: #010104;
    --primary: #3a31d8;
    --secondary: #020024;
    --accent: #0600c2;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
