@import "tailwindcss";

:root {
  --text: #070e12;
  --background: #f4f9fb;
  --primary: #4e99bc;
  --secondary: #c89bd9;
  --accent: #c86fb5;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #edf4f8;
    --background: #04090b;
    --primary: #438fb1;
    --secondary: #532664;
    --accent: #90377d;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
